@font-face {
  font-family: "Fluent Sitka Small";
  src: url(../fonts/Fluent_SitkaSmall.ttf);
}

:root {
  --section-bg-color: gray;
}

body {
  counter-reset: section;
  font-family: "Fluent Sitka Small", sans-serif;
  font-size: 10.1pt;
}

article {
  max-width: 1366px;
  line-height: 3rem;
  padding-left: 9rem;
  padding-right: 9rem;
}

p {
 position: relative;
 margin-bottom: 3rem;
}

p::before {
  background-color: var(--section-bg-color);
  counter-increment: section;
  content: counter(section);
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  left: -9rem;
  top: 0px;
  bottom: 0px;
  width: 5rem;
  text-align: right;
  padding-right: 1rem;
  font-weight: bold;
  color: #96999B;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 12pt;
}

strong {

}

.section-a {
  --section-bg-color: #F0F7EE;
}

.section-b {
  --section-bg-color: #51fc59;
}

.section-c {
  --section-bg-color: #fc9051;
}
